<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boksun3">
    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Boksun3"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".adminLifeManage2"
            android:exported="true"
            android:label="@string/title_activity_admin_life_manage2"
            android:theme="@style/Theme.Boksun3.NoActionBar" >

        </activity>


        <activity
            android:name=".adminLogin"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        </activity>



        <activity
            android:name=".adminCall"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        </activity>
        <activity
            android:name=".clickAddAlarm"
            android:exported="false"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".adminAddAlarm"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".adminBoxResister"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".adminBox"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".handiJoin"
            android:exported="true" >


        </activity>


        <activity
            android:name=".adminJoin"
            android:exported="true"
            android:label="@string/Join" />
        <activity
            android:name=".adminLifeManage"
            android:exported="false" />
        <activity
            android:name=".addressSearch"
            android:exported="false" />
        <activity
            android:name=".datePicker"
            android:exported="false"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".handiLogin"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>